.textarea {
  width: 696px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.textarea-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  resize: none;
}

.textarea-input::placeholder {
  color: grey;
}

.textarea:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}